---
http_interactions:
- request:
    method: get
    uri: http://api.wolframalpha.com/v2/query?appid=7JL7EE-UTTWE9QXRG&input=1%2B1&timeout=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\n<queryresult success='true'\n
        \   error='false'\n    numpods='6'\n    datatypes='Math'\n    timedout=''\n
        \   timedoutpods=''\n    timing='0.644'\n    parsetiming='0.086'\n    parsetimedout='false'\n
        \   recalculate=''\n    id='MSPa25811hf76bb9f30bff5d0000490f7706ie2e0b3d'\n
        \   host='http://www4c.wolframalpha.com'\n    server='2'\n    related='http://www4c.wolframalpha.com/api/v2/relatedQueries.jsp?id=MSPa25821hf76bb9f30bff5d0000695bbiab221e9b7g&amp;s=2'\n
        \   version='2.6'>\n <pod title='Input'\n     scanner='Identity'\n     id='Input'\n
        \    position='100'\n     error='false'\n     numsubpods='1'>\n  <subpod title=''>\n
        \  <plaintext>1+1</plaintext>\n   <img src='http://www4c.wolframalpha.com/Calculate/MSP/MSP25831hf76bb9f30bff5d000022481ii804cf8e0g?MSPStoreType=image/gif&amp;s=2'\n
        \      alt='1+1'\n       title='1+1'\n       width='32'\n       height='18'
        />\n  </subpod>\n </pod>\n <pod title='Result'\n     scanner='StepByStep'\n
        \    id='Result'\n     position='200'\n     error='false'\n     numsubpods='1'\n
        \    primary='true'>\n  <subpod title=''>\n   <plaintext>2</plaintext>\n   <img
        src='http://www4c.wolframalpha.com/Calculate/MSP/MSP25841hf76bb9f30bff5d000036e95db6935245i5?MSPStoreType=image/gif&amp;s=2'\n
        \      alt='2'\n       title='2'\n       width='8'\n       height='18' />\n
        \ </subpod>\n  <states count='1'>\n   <state name='Step-by-step solution'\n
        \      input='Result__Step-by-step solution' />\n  </states>\n </pod>\n <pod
        title='Number name'\n     scanner='Integer'\n     id='NumberName'\n     position='300'\n
        \    error='false'\n     numsubpods='1'>\n  <subpod title=''>\n   <plaintext>two</plaintext>\n
        \  <img src='http://www4c.wolframalpha.com/Calculate/MSP/MSP25851hf76bb9f30bff5d000032fg3271f2h9gbh1?MSPStoreType=image/gif&amp;s=2'\n
        \      alt='two'\n       title='t[...]
