---
http_interactions:
- request:
    method: get
    uri: http://api.wolframalpha.com/v2/query?appid=7JL7EE-UTTWE9QXRG&input=17%20gmt&timeout=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\n<queryresult success='true'\n
        \   error='false'\n    numpods='4'\n    datatypes='City,DateObject'\n    timedout=''\n
        \   timedoutpods=''\n    timing='0.635'\n    parsetiming='0.1'\n    parsetimedout='false'\n
        \   recalculate=''\n    id='MSPa403921icaeih4ec4gf0400001a2i2egb0610270g'\n
        \   host='http://www4c.wolframalpha.com'\n    server='52'\n    related='http://www4c.wolframalpha.com/api/v2/relatedQueries.jsp?id=MSPa404021icaeih4ec4gf0400001fd41bhg57cbc695&amp;s=52'\n
        \   version='2.6'>\n <pod title='Input interpretation'\n     scanner='Date'\n
        \    id='Input'\n     position='100'\n     error='false'\n     numsubpods='1'>\n
        \ <subpod title=''>\n   <plaintext>5:00 pm GMT  |  Thursday, October 3, 2013</plaintext>\n
        \  <img src='http://www4c.wolframalpha.com/Calculate/MSP/MSP404121icaeih4ec4gf0400001cfa5h62g3823eic?MSPStoreType=image/gif&amp;s=52'\n
        \      alt='5:00 pm GMT  |  Thursday, October 3, 2013'\n       title='5:00
        pm GMT  |  Thursday, October 3, 2013'\n       width='291'\n       height='18'
        />\n  </subpod>\n </pod>\n <pod title='Time difference from now (6:55:50 pm
        GMT)'\n     scanner='Date'\n     id='TimeDifferenceFromNow (time)'\n     position='200'\n
        \    error='f[...]
